# Auto detect text files and perform LF normalization
* text=auto

# Specific for PHP files
*.php text eol=lf

# Specific for Blade files
*.blade.php text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary